@model IEnumerable<ShareMe.Models.Entity.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="nav-panel">

</div>

<div>
    @{
        foreach (var article in Model)
        {
        <div class="article-thumbnail">
            <div class="image-container">
                @{
                    string imgSrc = "";
                    if (article.Preview != null)
                    {
                        var base64 = Convert.ToBase64String(article.Preview);
                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgSrc" />
                }
            </div>

            <div class="article-author">
                @article.Author.Name
            </div>
            <div class="article-date">
                @article.Date.ToShortDateString()
            </div>

            <div>
                @foreach (var tag in article.ArticleTags)
                {
                    <span>@tag.Tag.Name</span>
                }
            </div>

            <div class="article-annotation">
                <p>@article.Annotation</p>
            </div>

            <div>
                <a asp-action="Details" asp-route-articleId="@article.ArticleId">Read more</a>
            </div>
        </div>

        }
    }
</div>